* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(241, 243, 255, 1);
  height: 500px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 130px;
}

#title-box {
  height: 34px;
  width: 100px;
  background-color: rgba(13, 40, 166, 1);
}

.nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-item > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
